{
	"env": {
		"node": true,
		"es6": true
	},
	"extends": [
		"google"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly",
	},
	"parserOptions": {
		"ecmaVersion": 11	},
	"rules": {
		"quotes" : ["error", "double"],
		"indent": ["error", "tab", "SwitchCase": 1],
		"no-var": "error",
		"no-multi-spaces": "error",
		"no-empty": "error",
		"no-empty-function": "error",
		"no-trailing-spaces": "error",
		"no-lonely-if" : "error",
		"no-tabs": "off",
		"space-before-function-paren": ["error", {"anonymous": "never", "named": "never", "asyncArrow": "always"}],
		"comma-dangle": "off",
		"arrow-parens": ["error", "as-needed"],
		"max-len": "off",
		"require-jsdoc": "off",
		"new-cap": "off",
		"curly": "off",
		"eol-last": "off"
	}
}